# This file sets up the persistance network. For more details on
# The persistance network, see the wiki page at
# http://wiki.sk89q.com/wiki/CommandHelper/Persistance_Network

## ====== Aliases ==============================
$config=ini://PackageConfig/config.ini
$sqlite=sqlite://database/sqlite.db
$shops=json://database/shops.json
$memory=mem:default
$test=ini://database/test.ini

## ====== Catch All *.* ==============================
#  Any data not given a dedicated data portal
**=$sqlite

## ====== Dedicated data portals ==============================
#  Any data required about a player over server restarts or reloads
storage.profiles.players.**=$sqlite
storage.shops.**=$shops

## ====== Memory data portals ==============================
#  Any data that is required for a brief moment such as confirmations and other such sundry data
storage.mem.**=$memory

## ====== Config data portals ==============================
#  Debug testing dedicated storage
storage.config.**=$config

## ====== Testing data portals ==============================
#  Debug testing dedicated storage
storage.test.**=$test
