# This file sets up the persistance network. For more details on
# The persistance network, see the wiki page at
# http://wiki.sk89q.com/wiki/CommandHelper/Persistance_Network

## ====== Aliases ==============================
$sqlite=sqlite://database/sqlite.db
$shops=json://database/shops.json
$test=ini://database/test.ini
$memory=mem://database/sqlite.db

## ====== Catch All *.* ==============================
#  Any data not given a dedicated data portal
**=$sqlite

## ====== Dedicated data portals ==============================
#  Any data required about a player over server restarts or reloads
storage.profiles.players.**=$sqlite
storage.shops.**=$shops

## ====== Memory data portals ==============================
#  Any data that is required for a brief moment such as confirmations and other such sundry data
storage.mem.**=$memory

## ====== Testing data portals ==============================
#  Debug testing dedicated storage
storage.test.**=$test
